@import "../layouts/styles.sass"

#get-started
  background: linear-gradient(199.86deg, #6888FF 12.77%, #5E80FF 73.11%)
  color: #FFFFFF !important
  .content
    max-width: 700px
  .btn-white
    padding: 1.1rem 1.3rem
    box-shadow: 0px 5px 15px #6480E8 !important
    border-radius: 2px !important
    font-size: 0.81rem !important
    color: #565F82 !important
  .clouds-top-left
    height: 150px
    position: absolute
    left: -5%
    top: 2%
    opacity: 1 
    @media (max-width: 700px) 
      display: none
  .clouds-bottom-left
    height: 100px
    position: absolute
    left: 3%
    bottom: 0%
    opacity: 0.7
    @media (max-width: 700px) 
      display: none
  .clouds-bottom-right
    height: 180px
    position: absolute
    right: -12%
    bottom: -7%
    opacity: 0.6
    @media (max-width: 700px) 
      display: none